.navbar-container{
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.margin-close{
  margin: 0% 0% 2%;
}

.margin-open{
  margin: 0% 1.5% 2%;
}

.navbar-items{
  padding: 5px;
  color: #1c7ed6;
  margin: 0px 10px;
  font-size: 17px;
  /* background-color: black; */
  border-bottom: 3px solid #ffffff;
  border-radius: 4px;
  transition: all 0.1s linear;
}

.navbar-items:hover{
  color: black;
  transform: scale(1.05);
}

.svg-file{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  transform: translateY(-5px) scale(0.7);
}

.nav-social{
  width: 28px;
  height: 28px;
  transition: all 0.1s linear;
}

.nav-social:hover{
  transform: scale(1.2);
}

.githubIcon {
  color: #868e96;
}

.discordIcon {
  color: #868e96;
}

.githubIcon:hover {
  color: black;
}

.discordIcon:hover {
  color: black;
}
.loginButton1 {
  width: 90px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.github1:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 2rem 5rem rgba(black, 0.2); */
  box-shadow: 7px 7px 4px #ced4da;
}

.github1 {
  background-color: black;
  translate: all 0.2s;
}

.headerSection:active,
.headerSection:hover,
.headerSection:focus {
  border-bottom-color: #1c7ed6 !important;
  border-bottom-width: 4px !important;
 
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;

}


.animateButton:hover {
  animation: bounce 1s infinite;
}

.dropdown-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
}

@keyframes bounce {
  0%, 100% {
    
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: scaleX(1.1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}