.githubIcon {
  color: #868e96;
}

.discordIcon {
  color: #868e96;
}

.githubIcon:hover {
  color: black;
}

.discordIcon:hover {
  color: black;
}
.loginButton1 {
  width: 90px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.github1:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 2rem 5rem rgba(black, 0.2); */
  box-shadow: 7px 7px 4px #ced4da;
}

.github1 {
  background-color: black;
  translate: all 0.2s;
}

.headerSection:active,
.headerSection:hover,
.headerSection:focus {
  border-bottom-color: #1c7ed6 !important;
  border-bottom-width: 4px !important;
 
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;

}


