.logoDesign {
  background-image: url(../assets/logo2.gif);
  background-size: cover;
  width: 10rem;
  height: 5rem;
  background-position: -9px -45px;
  margin-top: 1rem;
}

.clicked:focus {
  color: black;
  background-color: #e9ecef;
}
/* .clicked:hover{
  color: black !important;
  background-color: #e9ecef;
  
} */

.clicked1:focus {
  color: white;
}

.active{
  color: #339af0;
}
.active1{
  border: 2px solid #339af0;
}

.active2{
  color: white;
  border-bottom: 2px solid #339af0;
}
