.logoDesign {
  background-image: url(../assets/logo2.webm);
  background-color: black;
  background-size: cover;
  width: 10rem;
  height: 5rem;
  background-position: -9px -45px;
  margin-top: 1rem;
}

.clicked:focus {
  color: black;
  background-color: #e9ecef;
}
/* .clicked:hover{
  color: black !important;
  background-color: #e9ecef;
  
} */

.clicked1:focus {
  color: black;
}

.active{
  color: black;
}
.active1{
  border: 2px solid black;
}

.active2{
  color: white;
  border-bottom: 2px solid black;
}

/* width */

.scrollbarDesign::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollbarDesign::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--main-color-background); 
  border-radius: 10px;
}
 
/* Handle */
.scrollbarDesign::-webkit-scrollbar-thumb {
  background: var(--main-color); 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbarDesign::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-background); 
}
