.currentmonth-heading {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 35px;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(40, 40, 40);
    transition: all 0.1s linear;
}

.currentmonth-heading:hover {
    box-shadow: rgba(100, 100, 111, 0.35) 0px 7px 29px 0px;
    transform: scale(1.01);
}

.current-month-chart-heading:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.current-month-card-container {
  border: none;
  margin-bottom: 30px;
  padding: 8px 5px 0px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.15s linear;
}

.current-month-card-container:hover {
  transform: scale(1.008);
  box-shadow: rgba(100, 100, 111, 0.35) 0px 7px 29px 0px;
}
