.cardHeader {
  transition: all 0.7s;
  cursor: pointer;
  border-radius: none !important;
  border-bottom: none;
  font-family: 'Roboto', sans-serif;
}
.cardFooter{
  display: flex;
  justify-content: flex-end;

}


.cardBorder{
  border: 2px solid #e7f5ff;
}


