.cardHeader {
  transition: all 0.7s;
  cursor: pointer;
  border-radius: 2px;
  border-bottom: 2px solid rgba(220, 52, 85, 0.5);
  font-family: 'Roboto', sans-serif;

}

.cardHeader:hover {
  background-color: rgba(220, 52, 85, 0.5);
  color: white;
  border: none;

}

.cardBorder{
  border: 2px solid rgba(220, 52, 85, 0.5);
}


