@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

@font-face {
  font-family: 'colombo';
  src: local('colombo'), url('./fonts/Colombo\ Sans\ Font.ttf') format('truetype');
  font-weight: bold;
}


